
/* Sticky footer styles */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 1100px;
}
.container .credit {
  margin: 20px 0;
}

body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 1200px;
}
.container-narrow > hr {
  margin: 20px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.youimg{  
  height:100px; 
  width:160px; 
  opacity:0.6;
}
.youimg:hover{
  opacity:1.0;
}

.chatbg{ 
  position:absolute;
  height:100%; 
  width:100%; 
  opacity:0.1;
  z-index:-1;
  repeat-y;
}
/*
.chatbg:hover{
  opacity:0.1;
}
*/
.contentbox{
  position: fixed; 
  top:110px;
  width:600px;
}
.chatbox{
  position: fixed; 
  top:280px;
  width:600px;
}