body{color:#000;background-color:#EAE3D6;font-family:tahoma,sans-serif;font-size:11px}
textarea{font-size:11px;font-family:tahoma,sans-serif;border:1px solid #9B7C39}
input,select{font-size:11px;font-family:tahoma,sans-serif;border:1px solid #9B7C39}
td,p,div,select,input{text-align:left;font-size:11px}
img{border-width:0px}

.mainbox{color:#000;background-color:#fcfcfc;width:720px;padding:1px;margin:auto;border:1px solid #9B7C39}
.navbar1{font-size:11px;font-weight:bold;background-color:#C4AD79;background-image:url(bg3.png);color:#fff;padding:20px;text-transform:uppercase}
.navbar2{font-size:10px;font-weight:bold;background-color:#DECEA7;color:#000;padding:5px;text-transform:uppercase;text-align:right;line-height:180%;}
.content{padding:30px;padding-top:10px}
.title{color:#333;background-color:transparent;font-size:12px;font-weight:bold;text-transform:uppercase}
.hr{border-top:1px dotted #9B7C39;width:100%;height:10px;margin-top:20px}
.hs{border-bottom:1px dotted #9B7C39;width:100%;height:5px;clear:both;margin-bottom:10px}
.btn{font-weight:bold;text-transform:uppercase;border:1px solid #9B7C39;color:#fff;background-color:#BCAA7C;padding:5px;text-align:center}
.csq{float:left;margin:1px;width:12px;height:12px;border:1px solid #000;cursor:pointer;}
.ptn{float:left;border:1px solid #C4AA71;background-color:#DECEA7;padding:10px;margin:5px;}

.tbl{border:1px solid #C4AA71;background-color:#fff;color:#000;width:100%}
.tr0{background-color:#D3C195;color:#fff}
.tr1{background-color:#F7F5DE;color:#000}
.tr2{background-color:#FAF7DB;color:#000}
.tdr{text-align:right}
.ava{width:30px;height:30px}
.coe{float:left;height:15px;background-color:#A08340;}
.co2{float:left;height:15px;background-color:#E5E3C1;}
.bar1{width:12px;background-color:#243E5F;margin-left:1px;border-top:2px solid #243E5F}
.bar2{width:12px;background-color:#861200;margin-left:1px;border-top:2px solid #861200}
.bar3{width:12px;background-color:#086739;margin-left:1px;border-top:2px solid #086739}
.bar4{width:12px;background-color:#bbb;margin-left:1px;border-top:3px solid #bbb}

.lu{color:#a00;background-color:transparent;text-decoration:underline;cursor:pointer} 
.ln{color:#a00;background-color:transparent;cursor:pointer}
.blab_pict{max-width:100px;max-height:80px}

a:link{color:#a00;background-color:transparent}
a:visited{color:#a00;background-color:transparent}
a:hover{color:#666;background-color:transparent;text-decoration:none}
a:active{color:#666;background-color:transparent}

.navbar1 a:link{color:#fff;background-color:transparent;text-decoration:none}
.navbar1 a:visited{color:#fff;background-color:transparent;text-decoration:none}
.navbar1 a:hover{color:#000;background-color:transparent}
.navbar1 a:active{color:#000;background-color:transparent}

.navbar2 a:link{color:#000;background-color:transparent;text-decoration:none}
.navbar2 a:visited{color:#000;background-color:transparent;text-decoration:none}
.navbar2 a:hover{color:#fff;background-color:transparent}
.navbar2 a:active{color:#fff;background-color:transparent}