body{color:#000;background-color:#5A646E;font-family:verdana,sans-serif;font-size:10px}
textarea{font-size:10px;font-family:verdana,sans-serif;border:1px solid #5D6F7E}
input,select{font-size:10px;font-family:verdana,sans-serif;border:1px solid #5D6F7E}
td,p,div,select,input{text-align:left;font-size:10px}
img{border-width:0px}

.mainbox{color:#000;background-color:#F9F9F9;width:720px;padding:1px;margin:auto;border:1px solid #000}
.navbar1{font-size:10px;font-weight:bold;background-color:#5A646E;background-image:url(bg1.png);background-repeat:repeat-x;color:#fff;padding:15px;padding-top:25px;padding-bottom:25px;text-transform:uppercase}
.navbar2{font-size:10px;font-weight:bold;background-color:#86939D;color:#000;padding:5px;text-transform:uppercase;text-align:right;line-height:180%;}
.content{padding:30px;padding-top:10px}
.title{color:#000;background-color:transparent;font-size:10px;font-weight:bold;text-transform:uppercase}
.hr{border-top:1px dotted #34404D;width:100%;height:10px;margin-top:20px}
.hs{border-bottom:1px dotted #34404D;width:100%;height:5px;clear:both;margin-bottom:10px}
.btn{font-weight:bold;text-transform:uppercase;border:1px solid #111;color:#fff;background-color:#6C7C8B;padding:8px;text-align:center}
.csq{float:left;margin:1px;width:12px;height:12px;border:1px solid #000;cursor:pointer;}
.ptn{float:left;border:1px solid #5D6F7E;background-color:#E5E8EA;padding:10px;margin:5px;}

.tbl{border:1px solid #5D6F7E;background-color:#fff;color:#000;width:100%}
.tr0{background-color:#6C7C8B;color:#fff}
.tr1{background-color:#E5E8EA;color:#000}
.tr2{background-color:#CED6DE;color:#000}
.tdr{text-align:right}
.ava{width:30px;height:30px}
.coe{float:left;height:15px;background-color:#648BBF;}
.co2{float:left;height:15px;background-color:#C6CED6;}
.bar1{width:12px;background-color:#243E5F;margin-left:1px;border-top:2px solid #243E5F}
.bar2{width:12px;background-color:#861200;margin-left:1px;border-top:2px solid #861200}
.bar3{width:12px;background-color:#086739;margin-left:1px;border-top:2px solid #086739}
.bar4{width:12px;background-color:#bbb;margin-left:1px;border-top:3px solid #bbb}

.lu{color:#466CA2;background-color:transparent;text-decoration:underline;cursor:pointer} 
.ln{color:#466CA2;background-color:transparent;cursor:pointer}
.blab_pict{max-width:100px;max-height:80px}

a:link{color:#466CA2;background-color:transparent}
a:visited{color:#466CA2;background-color:transparent}
a:hover{color:#a00;background-color:transparent;text-decoration:none}
a:active{color:#a00;background-color:transparent}

.navbar1 a:link{color:#fff;background-color:transparent;text-decoration:none}
.navbar1 a:visited{color:#fff;background-color:transparent;text-decoration:none}
.navbar1 a:hover{color:#666;background-color:transparent}
.navbar1 a:active{color:#666;background-color:transparent}

.navbar2 a:link{color:#000;background-color:transparent;text-decoration:none}
.navbar2 a:visited{color:#000;background-color:transparent;text-decoration:none}
.navbar2 a:hover{color:#fff;background-color:transparent}
.navbar2 a:active{color:#fff;background-color:transparent}