body{color:#000;background-color:#E6E9E0;font-family:georgia,serif;font-size:12px}
textarea{font-size:11px;font-family:georgia,serif;border:1px solid #A0B481}
input,select{font-size:11px;font-family:georgia,serif;border:1px solid #A0B481}
td,p,div,select,input{text-align:left;font-size:12px}
img{border-width:0px}

.mainbox{color:#000;background-color:#fff;width:720px;padding:1px;margin:auto;border:1px solid #A0B481}
.navbar1{font-size:13px;font-weight:bold;background-color:#A0B481;background-image:url(bg2.png);color:#fff;padding:20px}
.navbar2{font-size:12px;font-weight:bold;background-color:#EFF2EB;color:#000;padding:5px;text-align:right;line-height:180%;}
.content{padding:30px;padding-top:10px}
.title{color:#333;background-color:transparent;font-size:11px;font-weight:bold;text-transform:uppercase}
.hr{border-top:1px dotted #A0B481;width:100%;height:10px;margin-top:20px}
.hs{border-bottom:1px dotted #A0B481;width:100%;height:5px;clear:both;margin-bottom:10px}
.btn{font-weight:bold;text-transform:uppercase;border:1px solid #A0B481;color:#000;background-color:#E1E4D9;padding:5px;text-align:center}
.csq{float:left;margin:1px;width:12px;height:12px;border:1px solid #000;cursor:pointer;}
.ptn{float:left;border:1px solid #D1D6C4;background-color:#E6E9E0;padding:10px;margin:5px;}

.tbl{border:1px solid #D1D6C4;background-color:#fff;color:#000;width:100%}
.tr0{background-color:#A0B481;color:#fff}
.tr1{background-color:#E6E9E0;color:#000}
.tr2{background-color:#EDF0E9;color:#000}
.tdr{text-align:right}
.ava{width:30px;height:30px}
.coe{float:left;height:15px;background-color:#869B64;}
.co2{float:left;height:15px;background-color:#E0E3D6;}
.bar1{width:12px;background-color:#243E5F;margin-left:1px;border-top:2px solid #243E5F}
.bar2{width:12px;background-color:#861200;margin-left:1px;border-top:2px solid #861200}
.bar3{width:12px;background-color:#086739;margin-left:1px;border-top:2px solid #086739}
.bar4{width:12px;background-color:#bbb;margin-left:1px;border-top:3px solid #bbb}

.lu{color:#BF7624;background-color:transparent;text-decoration:underline;cursor:pointer} 
.ln{color:#BF7624;background-color:transparent;cursor:pointer}
.blab_pict{max-width:100px;max-height:80px}

a:link{color:#BF7624;background-color:transparent}
a:visited{color:#BF7624;background-color:transparent}
a:hover{color:#333;background-color:transparent;text-decoration:none}
a:active{color:#333;background-color:transparent}

.navbar1 a:link{color:#fff;background-color:transparent;text-decoration:none}
.navbar1 a:visited{color:#fff;background-color:transparent;text-decoration:none}
.navbar1 a:hover{color:#000;background-color:transparent}
.navbar1 a:active{color:#000;background-color:transparent}

.navbar2 a:link{color:#BF7624;background-color:transparent;text-decoration:none}
.navbar2 a:visited{color:#BF7624;background-color:transparent;text-decoration:none}
.navbar2 a:hover{color:#000;background-color:transparent}
.navbar2 a:active{color:#000;background-color:transparent}